[submodule "zsh/spaceship-prompt"]
	path = zsh/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "tmux/tmux-sensible"]
	path = tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/tmux-continuum"]
	path = tmux/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
